
name: Build

on:
  push:
    branches:
    - '*'
    - '!feature/**'

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Build
        run: swift build -v

  build-windows:
    name: Build Windows
    runs-on: windows-latest

    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-6.2-release
          tag: 6.2-RELEASE

      - uses: actions/checkout@v4
      - run: swift build -v

  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Test Swift Package on Android"
        uses: skiptools/swift-android-action@v2
        with:
          run-tests: false
