
name: Test

on:
  push:
    branches:
    - '*'
    - '!feature/**'

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Test
        run: swift test -v --enable-test-discovery --sanitize=thread --parallel

  test-windows:
    name: Test Windows
    runs-on: windows-latest

    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-6.2-release
          tag: 6.2-RELEASE

      - uses: actions/checkout@v4
      - run: swift test -v --enable-test-discovery --parallel

  test-android:
    name: Test Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Test Swift Package on Android"
        uses: skiptools/swift-android-action@v2
